h1 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-image: linear-gradient(to right, #ff0000, #0000ff);
    color: transparent;
    background-clip: text;
}

ul>li {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color:#ff0000;
}
